@{
  Layout = "_Layout";
}

<h1>Create Your Tamagotchi</h1>
<p>Ready for a tamagotchi of your very own? Who are we kidding, no you aren't. Nobody is ready. Your tamagotchi will die and you will be sad.</p>
<p>But don't think about that! It's just computer code, so it doesn't feel pain. So don't worry, and make a tamagotchi of your very own!</p>

<form action="/pets" method="POST">
  <label for="name">Tamagotchi Name</label>
  <input type="text" id="name" name="name">

  <button type="submit">Make my pet!</button>
</form>